<md-sidenav-container>
  <md-sidenav #sidenav class="sidenav" mode="side" opened="false">
    <div>
      <md-icon>face</md-icon> {{ me }}
    </div>
    <ul>
      <li>menu 1</li>
      <li>menu 2</li>
      <li>menu 3</li>
    </ul>
  </md-sidenav>
  <div>
    <md-toolbar color="primary">
      <a md-icon-button (click)="sidenav.toggle()">
        <md-icon *ngIf="!sidenav.opened">menu</md-icon>
        <md-icon *ngIf="sidenav.opened">arrow_back</md-icon>
      </a>
      <span class="toolbar-title">Kdo Noël</span>
    </md-toolbar>
    <div class="app-content">
      Content:
      <router-outlet  color="primary"></router-outlet>
    </div>
  </div>
</md-sidenav-container>
